.aboutSection {
  background-color: rgb(10, 10, 10);
  padding: 5rem 0rem;
  background-image:
    linear-gradient(rgba(255, 255, 255, 0.04) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255, 255, 255, 0.04) 1px, transparent 1px);
  background-size: 60px 60px;
  color: white;
  padding-top: 9.375rem;
}
.sectionLabel2 {
  width: fit-content;
  padding: 0.5rem 1rem;
  background-color: rgba(249, 115, 22, 0.1);
  border: 1px solid rgba(249, 115, 22, 0.3);
}

.sectionLabel2::before {
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: rgb(249, 115, 22);
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}
@keyframes pulse {
  50% {
    opacity: 0.5;
  }
}

.cricle2 {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: oklch(0.705 0.213 47.604);
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

.one {
  background-color: rgba(22, 22, 22, 0.8);
  border: 1px solid rgb(38, 38, 38);
  padding: 1.5rem;
  border-radius: 18px;
}
.icon {
  font-size: 1.875rem;
}
.glowT {
  position: absolute;
  top: 80px;
  left: 20px;
  width: 200px;
  height: 200px;
  background-color: oklab(0.705 0.143615 0.157301 / 0.2);
  filter: blur(100px);
  opacity: 50px;
}
.glowB {
  position: absolute;
  bottom: 20px;
  right: 20px;
  width: 200px;
  height: 200px;
  background-color: oklab(0.795 0.0126846 0.183562 / 0.1);
  filter: blur(120px);
}
.valueSection {
  padding: 5rem 0rem;
  background-color: rgb(17, 17, 17);
  border: 1px solid rgb(38, 38, 38);
}
.line {
  width: 6px;
  height: 32px;
  background-image: linear-gradient(
    oklch(0.705 0.213 47.604) 0%,
    oklch(0.795 0.184 86.047) 100%
  );
  border-radius: 10px;
}
.valueOne {
  background: rgb(22, 22, 22);
  padding: 1.5rem;
  border-radius: 18px;
  border: 1px solid rgb(38, 38, 38);
  transition: all 0.3s ease;
}
.valueOne:hover {
  background: #2d2014;
  border: 1px solid oklch(70.09% 0.20117 44.755 / 0.292);
}
.valueOne h3 {
  transition: all 0.3s ease;
}
.valueOne:hover h3 {
  color: oklch(0.705 0.213 47.604);
}
.writers {
  background-color: rgb(10, 10, 10);
  padding: 5rem 0rem;
}
.writer1 {
  background-color: rgb(22, 22, 22);
  padding: 1.5rem;
  border: 1px solid rgb(38, 38, 38);
  border-radius: 18px;
  transition: all 0.3s ease;
}
.writer1:hover {
  border: 1px solid oklch(70.09% 0.20117 44.755 / 0.37);
}
.socail {
  width: 36px;
  height: 36px;
  background-color: rgb(38, 38, 38);
  border-radius: 10px;
  transition: all 0.3s ease;
}
.socail svg {
  width: 16px;
  height: 16px;
  color: oklch(0.556 0 0);
  transition: all 0.3s ease;
}
.twitter:hover {
  background-color: #ff6900;
}
.github:hover {
  background-color: #404040;
}
.linkdin:hover {
  background-color: #155dfc;
}

.socail:hover .hover {
  color: oklch(84.212% 0.0001 271.152);
}
.bgTrue {
  width: 20.8px;
  height: 20.8px;
  background-color: #ff6900;
  border: 2px solid #000;
  border-radius: 50%;
  position: absolute;
  bottom: 3px;
  right: 3px;
}
.bgTrue svg {
  width: 12px;
  height: 12px;
  color: white;
}
.picture {
  width: 96px;
  height: 96px;
  border-radius: 50%;
  border: 4px solid rgba(255, 255, 255, 0.095);
  transition: all 0.3s ease;
}
.writer1:hover .picture {
  border: 4px solid #5d2f0f;
}
.contact {
  padding: 5rem 0rem;
  background-image: linear-gradient(
    to right bottom,
    oklch(0.646 0.222 41.116) 0%,
    oklch(0.705 0.213 47.604) 50%,
    oklch(0.795 0.184 86.047) 100%
  );
}
.ancContact {
  padding: 1rem 2rem;
  background-color: rgb(10, 10, 10);
  border-radius: 18px;
  transition: all 0.3s ease;
  width: 100%;
}
.ancContact:hover {
  transform: translateY(-3px);
  background-color: #171717;
}
.ancContact svg {
  width: 20px;
  height: 20px;
  color: white;
}
.ancArticle {
  padding: 1rem 2rem;
  background-color: transparent;
  border-radius: 18px;
  border: 1px solid oklab(0.999994 0.0000455678 0.0000200868 / 0.4);
  transition: all 0.3s ease;
  width: 100%;
}
.ancArticle:hover {
  background-color: white;
  color: #000;
}

@media (min-width: 768px) {
  .ancArticle {
    width: fit-content;
  }
  .ancContact {
    width: fit-content;
  }
}
